/***** BASE STYLES - MOBILE *****/

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2b2b2b;
    font-size: 16px;
}

/***** GRID *****/

.full-width {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
}

.half-width {
    width: 50%;
    float: left;
}

.third-width {
    width: 33%;
    float: left;
}

/***** HEADER *****/
header {
    height: 950px;
    background: url("../img/dayton-skyline.jpg");
    background-size: cover;
    background-position: center;
}

header h1 { 
    padding: 65px 0 65px 25px;
    font-family: 'Lora';
    font-size: 30px;
    font-weight: bold;
    color: #202c1d;
}

header h2 {
    width: 970px;
    clear: both;
    font-family: 'Lora';
    font-size: 70px;
    line-height: 80px;
    padding: 20px 0 20px 25px;
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(212, 186, 38), rgb(14, 85, 8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav {
    float: right; 
    padding: 75px 25px;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
    color: #252525;
    padding-left: 80px; 
}

/***** ABOUT *****/

#about .full-width {
    padding: 40px 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#about img {
    border: 8px solid #104827;
    width: 30%;
}

#about h2 {
    font-family: 'Lora', serif;
    font-size: 3em;
    padding-left: 50px;
    width: 50%;
    text-align: center;
}
 
#about p {
    font-size: 2.5em;
    color: #949494;
    line-height: 80px;
    padding-left: 30px;
    padding-right: 30px;
}

/***** WORK *****/
#work {
    background-color: #eeefd2;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

#work .full-width {
    padding: 120px 0;
}
 
#work h3 {
    font-size: 24px;
    line-height: 33px;
    width: 190px;
    margin: 0 auto;
}

#work img {
    padding-bottom: 30px;
}
 
#work p {
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 31px;
    padding: 0 50px;
}

/***** Contact *****/
#contact {
    background-color: #fff4e5;
}

#contact .full-width {
    padding: 110px 0;
}

#contact img #contact-img {
    margin-left: 25px;
    border: 8px solid #104827;
}

#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {
    padding-left: 115px;
}
#contact #envelope {
    padding: 0 10px 0 115px;
}

#contact h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    line-height: 44px;
}
#contact #email-header{
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    margin: -30px 0 5px 0;
}
#contact #socialmedia-header {
    font-weight: bold;
    font-size: 29px;
    line-height: 44px;
    margin: 40px 0 0 0;
}
#contact a {
    text-decoration: none;
    color: #3d6e3d;
    font-weight: bold;
    font-size: 28px;
}

#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    padding-right: 48px;
}

/***** TABLET *****/
